<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trang chủ cửa hàng cà phê sách</title>
    <link rel="stylesheet" href="/styles/base.css" class="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/container.css" class="">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/slider.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="stylesheet" href="/styles/showitem.css">

</head>

<body>
    <!-- APP -->
    <div class="app grid">
        <!-- HEADER -->
        <header class="header">
            <div class="navbar">
                <div class="logo">
                    <img class="logo__img" src="/assets/images/logo.png" alt="logo">
                </div>

                <div class="service">
                    <div class="service__home">
                        <i class="service__home--icon fa-solid fa-house"></i>
                        <p class="service_home--text">Trang chủ</p>
                    </div>
                    <div class="service_intro">
                        <i class="service__intro--icon fa-solid fa-exclamation"></i>
                        <p class="service__intro--text">Giới thiệu</p>
                    </div>
                    <div class="service__login">
                        <i class="service__login--icon fa-solid fa-right-to-bracket"></i>
                        <p class="service__login--text">Đăng nhập</p>
                    </div>
                    <div class="service__signup">
                        <i class="service__signup--icon fa-solid fa-user-plus"></i>
                        <p class="service__signup--text">Đăng ký</p>
                    </div>
                </div>
            </div>
            <div class="search">
                <i class="search__box--icon fa-solid fa-magnifying-glass"></i>
                <input placeholder="Tìm kiếm sản phẩm" type="text" class="search__box--input">
            </div>
        </header>
        <!-- SLIDER -->
        <div class="slider">
            <div class="slide1" style="background-image: url('/assets/images/slider1.jpg');">Book Coffe Shop</div>
            <div class="slide2" style="background-image: url('/assets/images/slider2.jpg');">66CS2 - Nhóm 1</div>
            <div class="slide3" style="background-image: url('/assets/images/slider3.jpg');"> Đồ án Công Nghệ Phần Mềm
            </div>

        </div>
        <!-- CONTAINER -->
        <ul class="menu">
            <li class="menu--item menu-option select">
                <h3 class="menu--title">MENU</h3>
            </li>
            <li class="menu--item book-option">
                <h3 class="menu--title">SÁCH</h3>
            </li>
        </ul>
        <div class="container">
            <h2 class="container__category">
                Đồ uống
            </h2>
            <ul class="product__list">
                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/latte.jpg" alt="" class="view__item coffe__item--img ">
                    <h3 class="coffe__item--name">Caffe Vàng</h3>
                    <p class="coffe__item--price">30.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/coffemocha.jpeg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Mocha</h3>
                    <p class="coffe__item--price">40.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/glace.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Nâu</h3>
                    <p class="coffe__item--price">20.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/black.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Mocha Premium</h3>
                    <p class="coffe__item--price">50.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/mochacip.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Bọt</h3>
                    <p class="coffe__item--price">30.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/normal.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Đá Đen</h3>
                    <p class="coffe__item--price">20.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/muoi.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Huy</h3>
                    <p class="coffe__item--price">20.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/cream.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Kem</h3>
                    <p class="coffe__item--price">40.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/capuchino.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Capuchino</h3>
                    <p class="coffe__item--price">30.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/carament.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Caffe Bánh</h3>
                    <p class="coffe__item--price">40.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>
                <button class="btn--add">Xem thêm</button>


            </ul>
            <h2 class="container__category">
                Món ăn
            </h2>
            <ul class="product__list">
                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/banhmi.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Bánh mì xá xíu</h3>
                    <p class="coffe__item--price">20.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/noodles.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Mì Mug Nessin</h3>
                    <p class="coffe__item--price">30.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/banhquy.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Bánh Rán</h3>
                    <p class="coffe__item--price">10.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/banhngot.jpeg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Bánh ngọt</h3>
                    <p class="coffe__item--price">10.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/beefsteak.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Bít Tết</h3>
                    <p class="coffe__item--price">200.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/fish.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Cá Rán</h3>
                    <p class="coffe__item--price">100.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/fastfood.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Combo Đồ ăn</h3>
                    <p class="coffe__item--price">100.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/RoastPork.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Lợn quay</h3>
                    <p class="coffe__item--price">200.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/menu/trungbanh.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Bánh mì trứng</h3>
                    <p class="coffe__item--price">12.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/spagetti.jpeg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Mì Ý</h3>
                    <p class="coffe__item--price">10.000 đ</p>
                    <button class="product__button">Thêm vào giỏ hàng</button>
                </li>
                <button class="btn--add">Xem thêm</button>

            </ul>

        </div>
        <div class="book">
            <h2 class="container__category">
                Sách Công Nghệ
            </h2>
            <ul class="product__list">
                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/machinelearning.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Machine Learning Yearning</h3>
                    <p class="coffe__item--price">Mã sách: 1302</p>
                    <button class="product__button">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/deeplearning.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Deep Learning Ian</h3>
                    <p class="coffe__item--price">Mã sách: 1302</p>
                    <button class="product__button">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/cv.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Morden Computer Vision</h3>
                    <p class="coffe__item--price">Mã sách: 1332</p>
                    <button class="btn--delete">Đã mượn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/datascience.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Practical Statistics for DS</h3>
                    <p class="coffe__item--price">Mã sách: 1002</p>
                    <button class="product__button">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/tensorflow.jpg" alt="" class="coffe__item--img view__item">
                    <h3 class="coffe__item--name">Tensorflow 2 Pocket Reference</h3>
                    <p class="coffe__item--price">Mã sách: 802</p>
                    <button class="product__button">Đang còn</button>
                </li>
            </ul>
            <h2 class="container__category">
                Tiểu thuyết
            </h2>
            <ul class="product__list">
                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/tamquoc.jpg" alt="" class="coffe__item--img view__book">
                    <h3 class="coffe__item--name">Machine Learning Yearning</h3>
                    <p class="coffe__item--price">Mã sách: 1302</p>
                    <button class="product__button view-premium">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/thuyhu.jpg" alt="" class="coffe__item--img view__book">
                    <h3 class="coffe__item--name">Deep Learning Ian</h3>
                    <p class="coffe__item--price">Mã sách: 1302</p>
                    <button class="product__button view-premium">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/honglau.jpg" alt="" class="coffe__item--img view__book">
                    <h3 class="coffe__item--name">Morden Computer Vision</h3>
                    <p class="coffe__item--price">Mã sách: 1332</p>
                    <button class="btn--delete">Đã mượn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/hanso.jpg" alt="" class="coffe__item--img view__book">
                    <h3 class="coffe__item--name">Practical Statistics for DS</h3>
                    <p class="coffe__item--price">Mã sách: 1002</p>
                    <button class="product__button view-premium">Đang còn</button>
                </li>

                <li class="product__item containter__coffe--item">
                    <img src="/assets/images/books/taydu.jpg" alt="" class="coffe__item--img view__book">
                    <h3 class="coffe__item--name">Tensorflow 2 Pocket Reference</h3>
                    <p class="coffe__item--price">Mã sách: 802</p>
                    <button class="product__button view-premium">Đang còn</button>
                </li>

            </ul>

        </div>
        <script src="/scripts/container.js"></script>
        <!-- FOOTER -->
        <footer class="footer">
            <ul class="footer__describe--list">
                <li class="footer__describe--item">
                    <h3 class="footer__descibe--title">VỀ CHÚNG TÔI</h3>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">1. Di sản</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">2. Công ty</a>
                </li>
            </ul>

            <ul class="footer__describe--list">
                <li class="footer__describe--item">
                    <h3 class="footer__descibe--title">DỊCH VỤ KHÁCH HÀNG</h3>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">1. Câu hỏi thường gặp</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">2. Hotline</a>
                </li>
            </ul>

            <ul class="footer__describe--list">
                <li class="footer__describe--item">
                    <h3 class="footer__descibe--title">LIÊN KẾT NHANH</h3>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">1. Dịch vụ cửa hàng</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">2. Dành cho đối tác</a>
                </li>
            </ul>

            <ul class="footer__describe--list">
                <li class="footer__describe--item">
                    <h3 class="footer__descibe--title">LIÊN HỆ</h3>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">1. GOOGLE</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">2. FACEBOOK</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">3. GMAIL</a>
                </li>
                <li class="footer__describe--item">
                    <a href="" class="footer__describe--link">4. Địa chỉ: 55 Giải Phóng, Đồng Tâm, Hai Bà Trung, Hà
                        Nội</a>
                </li>

            </ul>
        </footer>
        <!-- FORM -->
        <div class="decentral">
            <!-- LOGIN FORM -->
            <div class="login">
                <h2 class="login__label">Đăng nhập</h2>
                <form id="loginForm">
                    <div class="form-group">
                        <input placeholder="Email/Số điện thoại" type="email" id="email" class="main-input" required>
                    </div>
                    <div class="form-group">
                        <input placeholder="Mật Khẩu" type="password" id="password" class="main-input" required>
                    </div>
                    <a href="#" class="signup__text blue">Quên mật khẩu ?</a>
                    <button class="btn--add" type="submit">Đăng nhập</button>
                    <div class="signup__text">
                        <p class="">Bạn chưa có tài khoản ?</p>
                        <div class="change-signup highlight">Đăng ký</div>
                    </div>
                    <div id="error"></div>
                    <ul class="another__login">
                        <li class="another__login--item">
                            <img src="/assets/images/google.png" alt="" class="another__login--img">
                            <p class="">Đăng nhập bằng Google</p>
                        </li>
                        <li class="another__login--item">
                            <img src="/assets/images/facebook.png" alt="" class="another__login--img">
                            <p class="">Đăng nhập bằng Facebook</p>
                        </li>
                    </ul>
                </form>
                <p class="cancel">X</p>
            </div>

            <!-- SIGNUP FORM -->
            <form action="" class="signup">
                <h3 class="signup__label">Đăng ký</h3>
                <ul class="signup__info--list">
                    <li class="signup__info--item">
                        <input placeholder="Email/Số điện thoại" type="text" class="main-input">
                    </li>
                    <li class="signup__info--item">
                        <input placeholder="Tên người dùng" type="text" class="main-input">
                    </li>
                    <li class="signup__info--item">
                        <input placeholder="Mật khẩu" type="password" class="main-input">
                    </li>
                    <li class="signup__info--item">
                        <input placeholder="Nhập lại mật khẩu" type="password" class="main-input">
                    </li>
                </ul>
                <button type="submit" class="btn--add signup__submit">Đăng ký</button>
                <p class="signup__cancel">X</p>
                <div class="signup__text">
                    <p class="">Bạn đã có tài khoản ? </p>
                    <div class="change-login highlight">Đăng nhập</div>
                </div>
                <ul class="another__login">
                    <li class="another__login--item">
                        <img src="/assets/images/google.png" alt="" class="another__login--img">
                        <p class="">Đăng nhập bằng Google</p>
                    </li>
                    <li class="another__login--item">
                        <img src="/assets/images/facebook.png" alt="" class="another__login--img">
                        <p class="">Đăng nhập bằng Facebook</p>
                    </li>
                </ul>
            </form>

        </div>
        <script src="/scripts/login.js"></script>
        <script src="/scripts/signup.js"></script>
        <script src="/scripts/header.js"></script>

        <!-- SHOW Item -->
        <div class="show__item">
            <form action="" class="form__item">
                <div class="form__img">
                    <img src="" alt="" class="form__item--img">
                </div>
                <div class="ul form__item--info">
                    <h3 class="form__item--name">Cà phê</h3>
                    <p class="form__item--text">Mô tả: Cà phê là món thức uống gần như mỗi ngày của thế giới. Người uống
                        vì cần sự tỉnh táo cho ngày mới. Người thưởng thức vì yêu thích hương vị tuyệt vời của nó. Có
                        người chỉ uống vì một thói quen đơn giản.</p>
                    <p class="form__item--text">Tùy chọn size: </p>
                    <ul class="size__list">
                        <li class="size__item">M</li>
                        <li class="size__item">L</li>
                        <li class="size__item">XL</li>
                    </ul>
                    <p class="form__item--text">Gía tiền: 20.000 đ</p>
                    <button class="btn--add">Thêm vào giỏ hàng</button>
                </div>

                <div class="form__cancel">X</div>
            </form>
        </div>
        <script src="/scripts/showitem.js"></script>

    </div>

</body>

</html>