.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: 50px;
}

.footer__descibe--title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    line-height: normal;
    text-shadow: 2px 2px 5px var(--yellow-color);

}

.footer__describe--list {
    list-style: none;
}

.footer__describe--item {
    width: 220px;
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

.footer__describe--link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin: 4px 0px;
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--yellow-color);

}

.footer__describe--link:hover {
    opacity: .7;
}